.claude
.devcontainer
.github
.husky
.vscode
.nx
examples
functions
images
node_modules
.env.local
dist
!dist/apps/runner-amd64
!dist/apps/snapshot-manager
docker/*
!docker/ambit-local
docker/ambit-local/*
!docker/ambit-local/computer-use-binary.sha256
!docker/ambit-local/computer-use-build.lock.json
.tmp
libs
!libs/computer-use
!libs/common-go
!libs/api-client
!libs/analytics-api-client
!libs/runner-api-client
!libs/api-client-go
!libs/toolbox-api-client
!libs/backoffice-api-client
!libs/runner-proto
!libs/billing-api-client
!libs/netleash
Dockerfile
